

body {
    /* background-image:  url("./WallpaperDark.20d3d6f6.webp"); */
    background: black url("./WallpaperDark.20d3d6f6.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: cover;
    color: white;
    font-family: Friz Quadrata Std Medium,Mobilo,Helvetica,Arial;
}
.main{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#loldle-logo{
    max-width: 320px;
}
.ikona{
    padding-left: 15px;
    padding-right: 15px;
    opacity: 70%;
    padding-bottom: 15px;

}
.champion{
    border: 2px #ae9667 solid;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
    background-color: #1d2227;

}
.title{
    font-size: 18px;
    text-align: center;
}

#patka{
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px #737373 solid;
    border-radius: 5px;
}
#oko{
    width: 60px;
    margin-left: 120px;
}

#zoom{
    color: #979a9c;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}

.found{
    font-size: 12px;
}
#guess{

    font-size: 12px;
    color: #f2ff7d;
}
.yesterday{
    font-size: 16px;
}
#number{
    color: #70b9e9;
    font-size: 12px;
}
#champ{
    color: #71d68a;
    font-size: 20px;
}

.summit{
   padding-top: 15px; 
   display: flex;
   padding-bottom: 20px;
}
#name{

    height: 58px;
    margin:0px;
    box-sizing: border-box;
    border: #15b9ba 3px solid;
    border-right:0px solid transparent;
    background-color: #1d2227;
    font-size: 16px;
    color: #9ea1a3;
    padding-left:10px;
    width: 250px;

}
#sipka{
    height: 64px;
    margin:0px

}